//- page-a.pug
extends layout/layout.pug


block head
  - var project_fullname = 'Seagull Studio'
  title #{project_fullname} | Xin Zhang

block content
  - var project = 'seagull'
  - var project_fullname = 'Seagull Studio'

  .scroll
    a(href='#ancre')
      h5 scroll

  div(class=`project-${project}-img`)
  section.container.pt-60.pb-60
    .detail-text
      .project-name #{project_fullname}
      .col-container
        .col.col-60
          .body(style='margin-top:0;') Seagull Studio is an online printing studio, producing photos into a varity of forms. The Logo is based on seagull’s silhouette and associated with camera viewfinder to remind people of beautiful memories.
        .col
          .title Category
          .body E-commerce, iOS &amp; Android Application

          .title.mt-10 Role
          .body UI/UX Designer, Photographer
    each index in '01,02,03,04,05,06,07,08,09,10,11,12,13,14'.split(',')
      .detail-img-wrapper
        img.detail-img(src=`/dist/image/${project}/detail-${project}-${index}.jpg`)
